
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: white;
  color: #333;
}

nav {
  background-color: black;
  padding: 15px 0;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo-nav {
  height: 40px; /* Tamaño ajustado */
  margin-right: 15px;
  vertical-align: middle;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo-nav:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.logo-li {
  margin-right: auto;
}
